/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

.comma + .comma:before {
    content: ", ";
}

.searchInput {
  background:#fafafa;
  box-shadow:0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
  border-radius:2px;
  width:341px;
  height:46px;
}

.searchIcon {
  font-size: 1.5em;
  margin-left:0.7em;
}

.domainDetail {
  display:flex;
  align-content:space-between;
  flex-direction: column;
  height:100%;
}

.domainDetailRow {
  display:flex;
  justify-content:space-around;
  height:30%;
  margin-bottom: 5%;
}

.domainItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 9%;
  width: 45%;
}

.innerItem > img {
  display: block;
  margin: 0 auto;
}

.innerItem {
  position: relative;
  height: 100%;
  width: 100%;
}

.innerItem {
  position: relative;
  height: 100%;
  width: 100%;
}

.domainItemText {
  font-family:Roboto-Regular;
  font-size:15px;
  color:rgba(0,0,0,0.87);
  word-wrap: break-word;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top: 20%;
}

div.list {
    height: 100%;
}

ion-content > div {
  height: 100%;
}

.domainNameHeader {
  font-family:Roboto-Black;
  font-size:33px;
  color:rgba(0,0,0,0.87);
  text-align:center;
  display: flex;
  justify-content: center;
  height: 40%;
  align-items: center;
}

.domains a.item-content > div > img {
  padding-right: 10%;
  border-radius: 0%;
  }

.domains a.item-content > div > div > p.DomainNameText {
  font-family:Roboto-Regular;
  font-size:18px;
  color:#4b4b4b;
  letter-spacing:0px;
}

.domains a.item-content > div > div > p.DomainStatusText {
  font-family:Roboto-Regular;
  font-size:14px;
  color:#24c4bc;
}

.domains a.item-content {
    background:#ffffff;
    padding-left: 5%;
  }

.domains a.item-content i {
    width: 1.67rem; }

.domain-side-menu.menu {
  background-color: #2b2f3f;
}

.domain-side-menu.header-color {
  background-color: #2b2f3f;
}

.domain-side-menu.bar {
  background-color: #2b2f3f;
  background-size: 0px 0px;
}

.domain-side-menu.item {
  border-color: transparent;
  background-color: rgba(255,255,255,0);
}

.domain-side-menu a.item-content {
  background-color: rgba(255,255,255,0.10);
  color:rgba(255,255,255,0.87);
  font-family:Roboto-Regular;
  font-size:13.51px;
}

.ionContent {
  background-image: url('../../main/assets/images/pttrn_light@2x.png');
  background-size: 500px 100px;
}

.domain-side-menu > div.buttons.buttons-right > span > button
{
  color: white;
}

.domain-side-menu div.header-item {
  font-family:Roboto-Bold;
  font-size:18px;
  color:#ffffff;
  letter-spacing:0px;
}
