<ion-view view-title="Новый администратор">

  <ion-content class="ionContent">
    <ion-item class="noBorderBottom mailItem item item-input item-stacked-label" style="height:5.66rem; border-top-width:1px; z-index:0";>
        <span class="input-label" style="font-family:Roboto-Regular;
          font-size:0.66rem;
          color:rgba(0,0,0,0.54);">Логин</span>
        <input class="inputText" type="text" ng-model="ctrl.deputy.login" required>
      </ion-item>

      <ion-item style="z-index:0;height:2.5rem;" class="noBorderBottom mailItem item-icon-right">
      </ion-item>

      <div class="row buttonGroup">
        <div style="display:flex;justify-content: space-between;">
          <div style="display:flex;justify-content:flex-end;margin-right: 1rem">
            <div class="mailboxSaveBtn button" ng-click="ctrl.addDeputy(ctrl.deputy.login)">
              <p class="mailboxSaveBtnText">Сохранить</p>
            </div>
          </div>

          <div >
            <div class="mailboxCancelButton button" ng-click="ctrl.goBack()">
              <p class="mailboxSaveBtnText">Отмена</p>
            </div>
          </div>
        </div>
      </div>

  </ion-content>
</ion-view>
