<ion-view view-title="{{ctrl.newDNS.type}}">

  <ion-content class="ionContent">
    <ion-list>
      <form ng-submit="ctrl.processDNSRecord(ctrl.newDNS)">
        <label ng-if="!isEdit" class="item item-input item-select">
          <span class="input-label inputHeader">Тип DNS записи</span>
              <select ng-disabled="isEdit"
                      ng-change="ctrl.refreshDNSRecordFieldList()"
                      ng-options="recordType as recordType for recordType in ctrl.recordTypeCollection"
                      ng-model="ctrl.newDNS.type">
              </select>
        </label>
        
        <ion-item ng-if="isEdit" class="noBorderBottom mailItem item item-input item-stacked-label">
          <span class="input-label inputHeader">Тип DNS записи</span>
          <span class="input-label">"{{ctrl.newDNS.type}}"</span>
        </ion-item>

        <ion-item class="noBorderBottom mailItem item item-input item-stacked-label" style="height:4.5rem" ng-repeat="(key, title) in ctrl.fields">
          <span class="input-label inputHeader">{{title}}</span>
          <input class="inputText" type="text" ng-model="ctrl.newDNS[key]" required>
        </ion-item>

        <div class="padding">
          <button type="submit" class="button button-balanced button-block">
            Сохранить!
          </button>
        </div>
      </form>
    </ion-list>
  </ion-content>
</ion-view>
