<ion-view view-title="@{{ domain.name }}">
  <ion-content class="ionContent">
    <ion-list
      style="height:100%"
      show-delete="domain.shouldShowDelete">

      <div class="domainDetail">
        <div class="domainNameHeader">
          {{ domain.name }}
        </div>

        <div class="domainDetailRow">
          <div class="domainItem"
                    ui-sref="main.mailboxList({domain: domain.name, owner: domain.owner})">

            <div class="innerItem">
              <img ng-src='../../main/assets/images/ico_post_boxes@1x.png'>

              <div class="domainItemText">Почтовые ящики</div>
            </div>
          </div>

          <div class="domainItem"
                    ui-sref="main.maillistList({domain: domain.name})">

              <div class="innerItem">
                <img ng-src='../../main/assets/images/ico_newspaper@1x.png'>
                <p class="domainItemText">Рассылки</p>
            </div>
          </div>
        </div>

        <div class="domainDetailRow">

          <div class="domainItem"
                    ui-sref="main.deputies({domain:domain.name})">
            <div class="innerItem">
              <img ng-src='../../main/assets/images/Shape@1x.png'>
              <p class="domainItemText" style="word-wrap:initial;">Администраторы</p>
            </div>

          </div>

        <div class="domainItem"
                  ui-sref="main.dnsList({domain: domain.name})">

          <div class="innerItem">
            <img ng-src='../../main/assets/images/Shape@1x (1).png'>

            <p class="domainItemText">DNS Записи</p>
          </div>

        </div>
        </div>
      </div>
    </ion-list>

  </ion-content>
</ion-view>
