<ion-view view-title="Новый домен">
  <ion-content class="ionContent">
    <form ng-submit="$event.preventDefault(); ctrl.addDomain(ctrl.domain.name)">
      <ion-list>
        <ion-item class="noBorderBottom mailItem item item-input item-stacked-label"
              style="height:5rem; border-top-width:1px; z-index:0">
            <span class="input-label inputHeader">Домен</span>
            <input class="inputText" type="text" ng-model="ctrl.domain.name" required>
          </ion-item>

          <ion-item class="ionItemDevider noBorderBottom mailItem item-icon-right">
          </ion-item>

          <div class="row buttonGroup">
            <div style="display:flex;justify-content: space-between;">
              <div style="display:flex;justify-content:flex-end;margin-right: 1rem">
                <button type="submit" class="mailboxSaveBtn button">
                  <span class="mailboxSaveBtnText">Добавить</span>
                </button>
              </div>

              <div >
                <button type="button" class="mailboxCancelButton button" ng-click="ctrl.goBack()">
                  <span class="mailboxSaveBtnText">Отмена</span>
                </button>
              </div>
            </div>
          </div>

      </ion-list>
    </form>
  </ion-content>
</ion-view>
