<ion-view view-title="Новый ящик для @{{ ctrl.domain }}">

  <ion-content class="ionContent">
    <ion-list>

        <ion-item class="mailItem item item-input item-stacked-label">
          <span class="input-label inputHeader">Логин</span>
          <input class="inputText" type="text" ng-model="ctrl.login" required>
        </ion-item>

        <ion-item class="noBorderBottom mailItem item item-input item-stacked-label">
          <span class="input-label inputHeader">Пароль</span>
          <input class="inputText" type="text" ng-model="ctrl.password" required>
        </ion-item>

        <ion-item class="ionItemDevider noBorderBottom mailItem item-icon-right">
        </ion-item>

        <div class="row buttonGroup">
          <div style="display:flex;justify-content: space-between;">
            <div style="display:flex;justify-content:flex-end;margin-right: 1rem">
              <div class="mailboxSaveBtn button" ng-click="ctrl.addMailbox(ctrl.login, ctrl.password)">
                <p class="mailboxSaveBtnText">Сохранить</p>
              </div>
            </div>

            <div >
              <div class="mailboxCancelButton button" ng-click="ctrl.goBack()">
                <p class="mailboxSaveBtnText">Отмена</p>
              </div>
            </div>
          </div>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
